@model PublicSharingViewModel

@section metatags {
    <meta property="og:image" content="@Model.ImageUrl">
    <meta property="og:title" content="@Model.Title">
    <meta property="og:url" content="@Model.Url">

    <meta property="og:type" content="music.song">
    <meta property="og:description" content="@Model.Description">
    <meta property="fb:app_id" content="1887182031397435">
    <title>@Model.Title</title>
}

@section css{
    <link rel="stylesheet" href="~/css/sharing/style.css"/>
}

@section scripts{
    <script>
    function downloadShareLink(link){

        document.getElementById('__dlf_@Model.DownloadNonce').src = link;
        /*
        var filename = "@Model.Title" + ".mp3"; // link.substring(link.lastIndexOf("/") + 1).split("?")[0];
        var xhr = new XMLHttpRequest();
        xhr.responseType = 'blob';
        xhr.onload = function() {
            var a = document.createElement('a');
            a.href = window.URL.createObjectURL(xhr.response);
            a.download = filename; 
            a.style.display = 'none';
            document.body.appendChild(a);
            a.click();
            delete a;
        };
        xhr.open('GET', link);
        xhr.send();
        */
    }
    </script>
}

<main id="main-container">
    <div class="bg-image">
        <div class="hero bg-black-op">
            <div class="hero-inner">
                <div class="content content-full">
                    <div class="row justify-content-center">
                        <div class="col-md-6 py-30 text-center">
                            <h1 class="display-4 font-w700 text-white mb-10">
                                <span class="text-primary-dark">pod</span>
                                <span class="ftext-white-op">:</span>
                                <span class="text-primary-dark">:</span>
                                <span class="ftext-white-op">noms</span>
                            </h1>
                            <h2 class="h4 font-w400 text-white-op pb-30 mb-20 border-white-op-b">
                                @Model.Title
                            </h2>
                            <div class="mb-20">
                                <button class="btn btn-hero btn-noborder btn-rounded btn-outline-warning"
                                        onclick="downloadShareLink('@Model.DownloadUrl')">
                                    <i class="fa fa-cloud-download mr-10"></i>
                                    Download
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer class="footer">
        <audio-player audio-url="@Model.AudioUrl"
                      pcm-url="@Model.PeakDataUrl"
                      title="@Model.Author"
                      sub-title="@Model.Title"
                      image-url="@Model.ImageUrl"
                      background-colour=""
                      title-colour="#DBA345"
                      sub-title-colour="#88873F"
                      wave-colour="#F76031"
                      wave-colour-progress="#1D5F5A">
        </audio-player>
        <script src="https://cdn.podnoms.com/player/podnoms-player.js?cb=a63cb3b6-be4d-4815-b096-3aa78ddbdd23"></script>
</footer>

<iframe id="__dlf_@Model.DownloadNonce" style="display:none;"></iframe>
