@model PublicSharingViewModel

@section metatags {
    <meta property="og:image" content="@Model.LargeImageUrl">
    <meta property="og:title" content="@Model.Title">
    <meta property="og:url" content="@Model.Url">

    <meta property="og:type" content="music.song">
    <meta property="og:description" content="@Model.StrippedDescription">
    <meta property="fb:app_id" content="1887182031397435">
    <title>@Model.Title</title>
}

@section css{
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/sharing/style.css"/>
}

@section scripts{
    <script>
    function downloadShareLink(link){
        document.getElementById('__dlf_@Model.DownloadNonce').src = link;
    }
    </script>
}

<div class="wrapper">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a class="navbar-brand" href="https://podnoms.com/" target="_blank">with <i class="text-danger fas fa-heart"></i> from podnoms</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto my-2 my-lg-0">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="https://podnoms.com/_/about" target="_blank">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="masthead d-flex">
        <div class="container text-center my-auto">
            <div class="title">
                <h2 class="mb-1 text-white">@Model.Author would like to share with you</h2>
                <hr>
            </div>
            <h3 class="mb-5 text-faded">
                <em>@Model.Title</em>
            </h3>
            <a class="btn btn-hero btn-noborder btn-rounded btn-outline-warning btn-lg"
               onclick="downloadShareLink('@Model.DownloadUrl')"
               href="#">
                <i class="fas fa-download mr-2"></i>
                Download
            </a>
        </div>
        <div class="overlay"></div>
    </div>
    <footer>
        <audio-player audio-url="@Model.AudioUrl"
                      pcm-url="@Model.PeakDataUrl"
                      title="@Model.Author"
                      sub-title="@Model.Title"

                      auto-play="false"
                      show-image="false"
                      show-details="false"
                      show-volume="false"

                      image-url="@Model.ThumbnailUrl"
                      background-colour=""
                      title-colour="#DBA345"
                      sub-title-colour="#88873F"
                      wave-colour="#F76031"
                      wave-colour-progress="#1D5F5A">
        </audio-player>
    </footer>
</div>
<script src="https://cdn.podnoms.com/player/podnoms-player.js?cb=6f1fdf22-f000-4bc1-b699-ab64b602679b"></script>
<iframe id="__dlf_@Model.DownloadNonce" style="display:none;"></iframe>